body {
  margin: 0;
  overflow: hidden;
  background: #111;
}

.heart {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url('heart.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation: rise 5s linear infinite;
}

.center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 24px;
  text-align: center;
  width: 80%;
  max-width: 800px;
  line-height: 1.3;
}

#typewriter {
  white-space: pre-wrap;
}

#cursor {
  display: inline-block;
  width: 3px;
  height: 1em;
  background-color: white;
  margin-left: 3px;
  animation: blink 0.7s infinite;
}

.disc-container {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
}

/* disk */
.disc {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
}

.disc-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: spin 4s linear infinite;
}


.song-info {
  color: white;
}

.song-info h2 {
  color: white;
  margin: 0;
  font-size: 22px;
}

.song-info p {
  color: #ddd;
  margin: 5px 0 0;
  font-size: 16px;
}


@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes rise {
  0% {
    transform: translateY(120vh);
    opacity: 1;
  }
  100% {
    transform: translateY(-20vh);
    opacity: 0;
  }
}
